.row {
    height: 80vh;
}


.card-rounded-shape {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    /* overflow: hidden; */
}

.card-rounded-shape .form-control {
    /* border: 1px solid #000; */
    padding: 10px 25px;
    border-radius: 40px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal;
}

.card-rounded-shape .form-control::-webkit-input-placeholder {
    color:gray;
}

.card-rounded-shape .form-control::-moz-placeholder {
    color: gray;
}

.card-rounded-shape .form-control:-ms-input-placeholder {
    color: gray
}

.card-rounded-shape .form-control::-ms-input-placeholder {
    color: gray;
}

.card-rounded-shape .form-control::placeholder {
    color: gray;
}

.card-rounded-shape .button-submit {
    padding: 13px 20px 12px;
    background-color: #EF412A;
	border: none;
    border-radius: 40px;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}

.card-rounded-shape .button-submit:hover {
    background-color: transparent;
    color: #000;
	border: 1px solid black;
}



.card-rounded-shape-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    -o-object-fit: cover;
    object-fit: cover;
}

/* .card-rounded-shape .card-body {
		  padding: 85px 60px 60px; 
		} */
@media (max-width: 422px) {
    .card-rounded-shape .card-body {
        padding: 35px 24px;
    }
}

.card-rounded-shape-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}


.card-rounded-shape .forgot-password-link {
    font-size: 14px;
    color: #EF412A;
    margin-bottom: 12px;
}

.card-rounded-shape .register-here {
    font-size: 14px;
    color: #EF412A;
    /* margin-bottom: 12px;  */
}

.card-rounded-shape-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px;
}

@media (max-width: 767px) {
    .card-rounded-shape-footer-text {
        margin-bottom: 24px;
    }

	.header{
		margin-top: -10px;
		text-align: center;
	}
	
	.header img{
		width: 15rem;
	}

	.sub-header{
		font-size: 17px;
		font-weight: normal;
		color: grey;
	}
}

.card-rounded-shape-footer-nav a {
    font-size: 14px;
    color: #919aa3;
}

.invalid-feedback {
    margin-top: -15px;
}

input#validationCustom032 .form-control {
    padding: 0;
    margin: 0;
}

.btn-passwordReset {
    background-color: #EF412A;
    color: #fff;
    font-weight: 500;

}
